/* Card Based Layout - Base styles */

body {
	background: hsl(0, 0%, 90%);
}

.masthead {
	background: hsl(0, 0%, 20%);`
}

.site-title {
	color: white;
}

.card {
	background: white;
	margin-bottom: 2em;	
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card-content p {
	font-size: 95%;
}