/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
	margin: 0;
}

body,
button,
input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	line-height: 1.3em;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
    display: inline-block;
    font-family: "Courier 10 Pitch", Courier, monospace;
    color: #ddca7e;
    background: #282c34;
	padding: .5em .8em;
    border-radius: .2em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}



/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

p {
	margin: 0;
	padding: 1em 0;
}


/* Header */

.masthead {
	text-align: center;
	border-bottom: 1px solid hsl(0, 0%, 90%);
}

/* Footer */
.colophon {
	padding: 2em;
	background: hsl(0, 0%, 10%);
	color: white;
	text-align: center;
}

.colophon a {
	color: white;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid white;
}


/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/
.main-area {
	padding: 1em;
	background-color: hsl(0, 0%, 90%);
}

.cards {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card {
	display: flex;
	margin-bottom: 1em;
}

.card a {
	width: 100%;
	padding: 0 1em;
	text-align: center;
	text-decoration: none;
	background: white;
	border: 1px transparent;
	color: hsl(0, 0%, 5%);
	transition: all .2s;
}

.card a:focus,
.card a:hover {
	margin: -5px 5px 5px -5px;
	box-shadow: 5px 5px 0px 0px hsla(0, 0%, 70%, .8);
}

.time {
	grid-column: 1;
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

.month {
	text-transform: uppercase;
	color: hsl(201, 63%, 54%);
}

.date {
	font-weight: bold;
	font-size: 2em;
	line-height: 1em;
}

.cards h2 {
	grid-column: 2;
	grid-row: 1;
	padding-top: .5em;
	align-self: flex-end;
}

.meta {
	grid-column: 2;
	grid-row: 2;
	padding-bottom: 1em;
}


/*--------------------------------------------------------------
Card grid:
--------------------------------------------------------------*/
