/* Styles for Single Level Menu */
@media screen and (max-width: 30em){
	.multi-level-nav ul ul li a {
		padding-left: 2em;
	}

	.dropdown-toggle {
		display: none;
	}
}

@media screen and (min-width: 30em){
	.multi-level-nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}	

	.multi-level-nav li {
		flex: 1 0 auto;
		position: relative;
	}

	li.has-children > a {
		padding-right: 0;
	}

	.multi-level-nav ul ul {
		display: none;
		position: absolute;
		z-index:100;
	}

	.multi-level-nav ul ul li {
        flex: 1 1 auto;
	}

	.multi-level-nav ul .toggled-on {
		display: flex;
	}

	.dropdown-toggle {
		margin: 0;
		padding: 0 .5em;
		border: 0;
		font-family: 'FontAwesome';
		content: "";
		text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
		background-color: transparent;
	}

	.dropdown-toggle:after {
		position: relative;
		top: 0;
		left: 0;
		width: 42px;
		color: white;
		content: "\f107";
		line-height: 1em;	
	}

	.dropdown-toggle:hover,
	.dropdown-toggle:focus {
		background: hsl(0, 0%, 25%);
	}

	.dropdown-toggle.toggle-on:after {
		content: "\f106";
	}
}