/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 50em;
	margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
/* Layout with CSS Grid */
@supports (grid-area: auto) {
    @media screen and (min-width: 60em) {

		/* Two-column layout. Left column has fixed width of 20em: */
		.site {
			display: grid;
            max-width: none;
			grid-template-columns: minmax(auto, 20em) minmax(40em, auto);
            grid-template-areas:
                "header header"
                "main main"
                "buckets buckets"
                "sidebar sidebar"
                "footer footer";
		}

        .masthead {
            grid-area: header;
			display: grid;
			grid-template-columns: 2.1fr 1fr;
        }

			.identity {
				display: flex;
				flex-direction: column;
				justify-content: center;
				grid-column: 1/2;
				grid-row: 1/2;
				height: 100%;
				background: hsla(246, 40%, 30%, .6);
				color: white;
				z-index: 1;
			}

			.feature {
				grid-column: 1/3;
				grid-row: 1/2;
			}

        .main-area {
            grid-area: main;
        }

        .buckets {
            grid-area: buckets;
        }

        .sidebar {
            grid-area: sidebar;
        }

        .colophon {
            grid-area: footer;
        }



	}

    @media screen and (min-width: 80em) {

		/* Three-column layout. Left and right columns have fixed widths of 20em: */
		.site {
			grid-template-columns: minmax(auto, 20em) 1fr minmax(auto, 20em);
            grid-template-areas:
                "header header header"
                ". main sidebar"
                "buckets buckets sidebar"
                "footer footer footer";
		}

	}

}
