/* Base styles */

.site-title {
	margin-bottom: 0;
}
.main-menu {
	padding: .4em 1em;
	color: white;
	background: hsl(0, 0%, 20%);
}

.post-content {
	padding: 0 1.4em 1.4em;
}

.sidebar {
	padding: .5em 1.4em 3em;
	background: hsl(0, 0%, 90%);
    overflow: hidden;
}

.example-menu {
    padding-bottom: 1em;
}

.example-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.example-menu a {
	display: block;
	padding: .4em 0;
	color: inherit;
	text-decoration: none;
	transition: all 0.5s ease;
}

.example-menu a:hover,
.example-menu a:focus {
	padding: .4em 1em;
	background: hsl(0, 0%, 20%);
	color: white;
}

.footer-area {
	padding: .4em 1em;
	text-align: center;
	background: hsl(0, 0%, 75%);
}

/* Sidebar switcher buttons */

@media screen and (max-width: 50em) {
    /* Hide switcher on small screens */
    .sidebar-switcher {
        display: none;
    }
}

@media screen and (min-width: 50em) {

	.sidebar-switcher {
		position: absolute;
		right: 0;
		padding: .4em 1em;
		color: hsl(0, 0%, 40%);
	}

	.sidebar-switcher a {
		color: hsl(0, 0%, 40%);
		padding-left: .4em;
	}

	.sidebar-switcher a:hover,
	.sidebar-switcher a:focus {
		color: hsl(0, 0%, 20%);
	}
}

/* Flexbox stuff */

@media screen and (min-width: 50em) {
    
    .outer-wrap {
        display: flex;
        flex-direction: column;
    }
    
    .content {
        display: flex;
    }
    
    .main-area {
        flex: 1 1 auto;
        order: 1;
    }
    
    .post-content {
        max-width: 40em;
        margin: 0 auto;
    }
    
    .sidebar {
        flex: 0 0 12em;
        order: 2;
        transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s;
    }
    
    .sidebar-left {
        order: 0;
    }
    
    .no-sidebar {
        flex-direction: column;
    }
    
	.hide {
        flex: 0 0 0;
		padding: 0;
        color: hsla(0, 0%, 0%, 0);
        transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
	}
    
    .hide a {
        color: hsla(0, 0%, 0%, 0);
    }

}