.site {
	display: grid;
	grid-template-columns: [begin-edge] 2fr [halfway] 1fr [quarter] 1fr [end-edge];
	grid-template-columns: [main-start] 2fr [main-end] 1fr [sidebar-start] 1fr [sidebar-end];
	grid-template-rows: auto 1fr 3fr;
}

.masthead {
	/*grid-column: 2/4;*/
	/*grid-column: halfway/end-edge;*/
	grid-column: main-end/sidebar;
	grid-row: 2/3;
}

.page-title {
	grid-column: main/sidebar;
	grid-row: 1/2;
}

.main-content {
	grid-column: main;
	grid-row: 2/4;
}

.sidebar {
	grid-column: 2/4;
	grid-row: 3/4;
}

.footer-content {
	grid-column: 1/4;
	grid-row: 4;
}
